.header {
  width: 100%;
  background-color: #195774;
  color: white;
  text-align: center;
  font-size: 16px;
}

.heading {
  padding-top: 20px;
  padding-bottom: 14px;
}

@media (min-width: 980px) {
  .heading {
    font-size: 40px;
    padding-top: 27px;
    padding-bottom: 24px;
  }
}
